.circle {
	width: 30%;
}

.masthead {
	background-color: #53a5a1
}

.bg {
	background-color: #9fd7ca
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 25em) {

nav li {
	display: inline-block;
}

nav {
	text-align: center;
}
}


@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 50em) {

}
