.masthead {
	background-color: #53a5a1
}

.bg {
	background-color: #9fd7ca
}

li a {
	text-decoration: none;
	background-color: #9fd7ca;
	color: #fff;
	display: block;
	padding: 0.5em;
}

.a {
	background-color: #53a5a1
}

a {
	text-decoration: none;
}

@media only screen and (min-width: 25em) {

nav li {
	display: inline-block;
}

@media only screen and (min-width: 38em) {

}

@media only screen and (min-width: 50em) {

}
