
html {
	font-family: 'Raleway', sans-serif;
}

.masthead, h1, h2, h3 {
	background-color: #9a9b9b
}

h1, h2, h3 {
	color: #fff;
}

h3 {
	font-weight: normal;
}

.banner-img {
	background-image: url("http://placehold.it/2000x1500");
	min-height: 300px;
	background-repeat: no-repeat;
	background-position: center center;
}

.bg, .signup {
	background-color: #9fd7ca
}

.trans {
	background-color: rgba(120, 195, 187, 0.6);
}

.signup {
	position: absolute;
	top: 15em;
	right: 1em;
	z-index:1000;
}

.a {
	background-color: #9a9b9b
}

.logo {
	width: 4em;
}

.circle {
	width: 6em;
}

li a {
	text-decoration: none;
	color: #fff;
	display: block;
}

a {
	text-decoration: none;
	color: #fff;
}

@media only screen and (min-width: 25em) {

nav li {
	display: inline-block;
}

ol li {
	display:inline-block;
}

.signup {
	position: absolute;
	top: 7em;
	right: 1.5em;
	z-index:1000;
}

p {
	max-width: 35em;
}
}

@media only screen and (min-width: 38em) {

.signup {
	position: absolute;
	top: 0.5em;
	right: 2.5em;
	z-index:1000;
}
}

@media only screen and (min-width: 50em) {

}
}
